{{template "header.html"}}
<a href="/activation/new" class="btn btn-primary">生成激活码</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>激活码</th>
            <th>状态</th>
            <th>终端</th>
        </tr>
    </thead>
   <tbody>
       {{ range .activations }}
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    {{ end }}
   </tbody>
    

</table>

{{template "footer.html"}}