    <div id="map-footer">
        <span style="color: #fff; font-size: 24px; font-weight: bold;">机要密码箱监控后台</span>
        <span>机要密码箱最新GPS坐标：{{ .lp.Lng }}&nbsp;,&nbsp;{{ .lp.Lat }}</span>
        <span>接收于：{{ .lp.CreateAt }}</span>
    </div>
   
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8edcf92fe98f0b737490c30824a30453"></script> 
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/zmy.js"></script>
  </body>
</html>