<ul id="sidebar" class="list-group">
  <li class="list-group-item"><a id="sb-locate" title="公文包位置"><i class="fa fa-briefcase"></i></a></li>
  <li class="list-group-item"><a id="sb-locate-all" title="所有位置"><i class="fa fa-map-marker"></i></a></li>
  <li class="list-group-item"><a id="sb-locate-list" title="列表显示"><i class="fa fa-list"></i></a></li>
  <li class="list-group-item"><a id="sb-locate-list" title="列表显示"><i class="fa fa-street-view"></i></a></li>
  <li class="list-group-item"><a id="sb-locate-list" title="列表显示"><i class="fa fa-pie-chart"></i></a></li>
</ul>